.red-background {
  background: rgb(222, 40, 40);
  background: linear-gradient(
    0deg,
    rgba(222, 40, 40, 0.83) 12%,
    rgba(202, 93, 93, 0.5) 34%,
    rgba(192, 138, 138, 0.25) 62%,
    rgba(183, 183, 183, 0) 100%
  );
}
.yellow-background {
  background: rgb(229, 224, 50);
  background: linear-gradient(
    0deg,
    rgba(229, 224, 50, 0.83) 12%,
    rgba(232, 227, 104, 0.5) 34%,
    rgba(220, 218, 151, 0.25) 62%,
    rgba(210, 210, 210, 0) 100%
  );
}
.green-background {
  background: rgb(32, 219, 88);
  background: linear-gradient(
    0deg,
    rgba(32, 219, 88, 0.83) 14%,
    rgba(121, 215, 149, 0.5) 31%,
    rgba(166, 213, 180, 0.25) 52%,
    rgba(210, 210, 210, 0) 100%
  );
}

.blue-background {
  background: rgb(11, 15, 227);
  background: linear-gradient(
    0deg,
    rgba(11, 15, 227, 0.82) 10%,
    rgba(46, 48, 210, 0.5) 31%,
    rgba(52, 54, 206, 0.25) 57%,
    rgba(201, 201, 201, 0) 100%
  );
}
.purple-background {
  background: rgb(195, 34, 184);
  background: linear-gradient(
    0deg,
    rgba(195, 34, 184, 0.831) 12%,
    rgba(192, 71, 184, 0.502) 34%,
    rgba(189, 109, 184, 0.251) 62%,
    rgba(183, 183, 183, 0) 100%
  );
}
.orange-background {
  background: rgb(243, 150, 20);
  background: linear-gradient(
    0deg,
    rgba(243, 150, 20, 0.831) 12%,
    rgba(246, 176, 79, 0.502) 34%,
    rgba(249, 202, 138, 0.251) 62%,
    rgba(183, 183, 183, 0) 100%
  );
}
.pink-background {
  background: rgb(239, 63, 140);
  background: linear-gradient(
    0deg,
    rgba(239, 63, 140, 0.831) 12%,
    rgba(242, 114, 170, 0.502) 34%,
    rgba(246, 165, 200, 0.251) 62%,
    rgba(183, 183, 183, 0) 100%
  );
}
.aqua-background {
  background: rgb(27, 204, 205);
  background: linear-gradient(
    0deg,
    rgba(27, 204, 205, 0.83) 12%,
    rgba(74, 201, 216, 0.5) 34%,
    rgba(121, 198, 229, 0.25) 62%,
    rgba(183, 183, 183, 0) 100%
  );
}
